.figure {
  margin-block-end: var(--flow-space);
}

.figure > figcaption {
  --flow-space: 0.5rem;
  margin-block-start: var(--flow-space);
  margin-block-end: var(--flow-space);
  font-size: 12px;
  color: var(--grey2);
}

@media (max-width: 500px) {
  .figure {
      --offset: -1.5rem;
      --flow-space: 2rem;
      width: 100cqi;
      margin-inline-start: var(--offset);
  }

  .figure > figcaption {
      padding-inline: 0.75rem;
  }
}